extends ../templates/layout

block head_specific
  title Nested page
  meta(name="description", content="This is the description of the index page")
  link(rel="canonical" href="index.html")

block main
  main
    This is the nested page
