doctype html
html(⚡="" lang="en")

  head
    block head
      include ../includes/head
    block head_specific
  
  body
    amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-T4FG4NR&gtm.url=SOURCE_URL" data-credentials="include")

    block nav
      include ../includes/nav

    block main
      main 
        p This is the main part of the page

    block footer
      include ../includes/footer
