extends templates/layout

block head_specific
  title About page
  meta(name="description", content="This is the description of the about page")
  link(rel="canonical" href="about.html")

block main
  main
    This is the about page

    a(href="index.html") Index page